/*Auth Root Layout*/
.authLayoutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authContainer {
  max-width: 40rem;
  min-width: 35rem;
  padding: 2.8rem 1.8rem;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-large);
  background-color: #fff;
  font-size: 1.6rem;
}

.authHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.8rem;
  text-align: center;
}

.authHeading {
  font-size: var(--font-size-lg);
  color: var(--primary-orange);
  margin-bottom: 0.6rem;
}

.create-login-text {
  margin-top: 2.4rem;
}

.confirmPassword {
  display: none;
  color: red;
  font-weight: 500;
  font-size: var(--font-size-md);
}

.sub-heading {
  font-size: var(--font-size-sm);
  color: var(--primary-dark);
}

.termsAndConditions {
  display: flex;
  justify-content: center;
  color: var(--secondary-grey);
  line-height: 1.75rem;
  margin-top: 2.4rem;

  font-weight: 300;
  font-style: italic;
}

.termsAndConditions p {
  width: 52%;
}

.forgotPassword {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}

.forgotPasswordLink {
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

.forgotPasswordLink:link {
  color: var(--primary-orange);
}

.forgotPasswordLink:visited {
  color: var(--lavender);
}

.forgotPasswordLink:active,
.forgotPasswordLink:hover {
  color: var(--third-orange);
}

.forgotPasswordLink:focus {
  outline: none;
}

.forgotPasswordLink:focus-visible {
  outline: 2px dashed var(--primary-dark);
  outline-offset: 2px;
}

.loginAdditional {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 1.8rem;
}

.create-account {
  cursor: pointer;
  text-decoration: none;
}

.createAccountLink {
  cursor: pointer;
  text-decoration: none;
}

.createAccountLink:link {
  color: var(--primary-orange);
}

.createAccountLink:visited {
  color: var(--lavender);
}

.createAccountLink:active,
.createAccountLink:hover {
  color: var(--secondary-orange);
}

.create-account:focus {
  outline: none;
}

.create-account:focus-visible {
  outline: 2px dashed var(--primary-dark);
  outline-offset: 2px;
}

.text-terms,
.text-privacy {
  color: var(--primary-dark);
  cursor: pointer;
  font-weight: 400;
}

.label {
  display: block;
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--primary-dark);
  margin-bottom: 1.2rem;
}

input {
  font-size: 1.2rem;
}

input::placeholder {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--primary-grey);
}

.inputGroup {
  margin-bottom: 1.6rem;
}

.inputField {
  padding: 1rem 1.2rem;
  width: 100%;
  border: 1px solid grey;
  background-color: #fff;
  font-size: 1.6rem;
  font-family: inherit;
}

.inputField:focus {
  outline: none;
}

.inputField:focus-visible {
  border: 1px solid var(--primary-orange);
}

.forgotPassword {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}

.rememberMeText {
  display: inline;
  margin-left: 0.4rem;
  text-decoration: none;
  color: var(--primary-dark);
}

.forgotPasswordLink {
  font-weight: 500;
  font-size: 1.2rem;
}

.loginAdditional {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 1.8rem;
}

.createAccountLink {
  color: var(--lavender);
  text-decoration: none;
  font-weight: 500;
}

.textForgot {
  color: var(--lavender);
  border-bottom: 1px solid var(--lavender);
}

.textForgot:hover {
  color: var(--secondary-orange);
}
