footer {
  background-color: #fff;
  font-size: 1.4rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  padding: 2.4rem;
  gap: 4.8rem;
}

.footerNewsLetter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.8rem;
  padding: 1.2rem;
}

.footerNewsLetter p {
  font-size: 3.2rem;
  background-image: linear-gradient(
    to bottom var(--primary-orange) var(--third-orange)
  );
  font-weight: 700;
}

.emailInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.emailInput input {
  font-family: inherit;
  height: 6.4rem;
  width: 75%;
  padding: 0.8rem 2.4rem;
  border-style: solid;
  border-radius: 9px;
  border-color: var(--primary-grey);
  font-size: 2rem;
  letter-spacing: 1.25;
}

.emailInput input:focus {
  outline: none;
}

.emailInput input::placeholder {
  font-style: italic;
  font-size: 2rem;
}

.emailInput button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 2.4rem;
  border: none;
  height: 6.4rem;
  background-color: black;
  color: #fff;
  padding: 0.9rem 1.6rem;
  margin-left: -12px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  cursor: pointer;
  transition: all 0.25 ease-in;
}

.emailInput button:hover {
  background-color: var(--primary-grey);
  color: #fff;
}

.emailInput button:active {
  background-color: var(--secondary-grey);
}

.footerExtras li {
  cursor: pointer;
}

.footerLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}

.footerLinks ul {
  list-style-type: none;
}

.footerSocials ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: start;
  margin: 4.8rem 0 4.8rem 0;
  gap: 2rem;
}

.footerCopyright {
  display: flex;
  flex-direction: column;
}

.footerCopyright div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 3.6rem;
}

.footerCopyright div a {
  cursor: pointer;
  color: var(--primary-grey);
}

.footerHeader {
  margin-bottom: 2.4rem;
}

.footerHeader + ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.copyrightText {
  color: var(--primary-grey);
}
