@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-white: #f0e6d8;
  --primary-orange: #de5509;
  --secondary-orange: #e5773a;
  --third-orange: #eb996b;
  --faint-orange: #fbebe1;

  --primary-dark: #181716;
  --primary-grey: #605c56;
  --secondary-grey: #484541;
  --faint-grey: #f8f3ec;

  --lavender: #c589e8;

  --border-radius-small: 5px;
  --border-radius-medium: 9px;
  --border-radius-max: 11px;

  --font-size-base: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.8rem;
  --font-size-lg: 3.2rem;

  --box-shadow-small: 0 0 6px 6px rgba(0, 0, 0, 0.06);
  --box-shadow-medium: 0 0 7px 7px rgba(0, 0, 0, 0.08);
  --box-shadow-large: 0 0 8px 8px rgba(0, 0, 0, 0.1);

  --border-small: 1px solid var(--primary-grey);
  --border-medium: 3px solid var(--secondary-grey);
  --border-large: 5px solid var(--secondary-grey);
}

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-base);
  color: var(--primary-dark);
  background-color: #f3f3f3;
  position: relative;
}

svg {
  height: 2.4rem;
  width: 2.4rem;
}

a {
  text-decoration: none;
  color: var(--primary-dark);
}

a.active {
  color: var(--primary-grey);
  border-bottom: 5px solid var(--primary-grey);
}

.RootLayout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.Outlet {
  padding: 9.6rem;
}

.gridCont {
  display: flex;
}

.gridCont img {
  width: 100%;
  object-fit: contain;
}

.gridCont img:hover {
  transform: scale(1.1);
}

.gridContText {
  width: 30rem;
  background-color: #fff;
}

.btn {
  font-size: var(--font-size-md);
  font-weight: 600;
  padding: 0.8rem 2.4rem;
  color: var(--primary-white);
  border: none;
  border-radius: var(--border-radius-medium);
  transition: all 0.4s ease-out;
  background-color: var(--primary-orange);
  cursor: pointer;
}

.btnShopNow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.2rem;
}

.btnCheckOut {
  font-size: 2.4rem;
}

.btnCancel {
  font-size: 2.4rem;
}

.btnCancel:hover {
  background-color: #f14444;
}

.btnRemove {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: none;
  background-color: red;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

.btnPrimary {
  padding: 1.2rem 2.4rem;
  width: 100%;
}

.btn:hover,
.btnPrimary:hover {
  background-color: var(--secondary-orange);
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  outline: 2px dashed var(--primary-dark);
  outline-offset: 2px;
}

.btnCart {
  font-size: 2.4rem;
  width: 25rem;
}

.Container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1.6rem;
  align-items: center;
  padding: 2.4rem;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 6rem;
  height: 6rem;
  border: 10px solid var(--primary-orange);
  border-top: 10px solid var(--primary-grey);
  border-radius: 50%;
  animation: spinner 0.6s linear infinite;
}

/* sorting container*/
.sortContainer {
  display: flex;
  justify-content: center;
  padding: 1.6rem 0;
  gap: 2.8rem;
  background-color: #fff;
}
