@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-white: #f0e6d8;
  --primary-orange: #de5509;
  --secondary-orange: #e5773a;
  --third-orange: #eb996b;
  --faint-orange: #fbebe1;

  --primary-dark: #181716;
  --primary-grey: #605c56;
  --secondary-grey: #484541;
  --faint-grey: #f8f3ec;

  --lavender: #c589e8;

  --border-radius-small: 5px;
  --border-radius-medium: 9px;
  --border-radius-max: 11px;

  --font-size-base: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.8rem;
  --font-size-lg: 3.2rem;

  --box-shadow-small: 0 0 6px 6px rgba(0, 0, 0, 0.06);
  --box-shadow-medium: 0 0 7px 7px rgba(0, 0, 0, 0.08);
  --box-shadow-large: 0 0 8px 8px rgba(0, 0, 0, 0.1);

  --border-small: 1px solid var(--primary-grey);
  --border-medium: 3px solid var(--secondary-grey);
  --border-large: 5px solid var(--secondary-grey);
}

html {
  font-size: 62.5%;
}

body {
  font-family: Rubik, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-base);
  color: var(--primary-dark);
  background-color: #f3f3f3;
  position: relative;
}

svg {
  height: 2.4rem;
  width: 2.4rem;
}

a {
  text-decoration: none;
  color: var(--primary-dark);
}

a.active {
  color: var(--primary-grey);
  border-bottom: 5px solid var(--primary-grey);
}

.RootLayout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.Outlet {
  padding: 9.6rem;
}

.marg-top {
  margin-top: 2.4rem;
}

.authLayoutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridCont {
  display: flex;
}

.gridCont img {
  width: 100%;
  object-fit: contain;
}

.gridCont img:hover {
  transform: scale(1.1);
}

.gridContText {
  width: 30rem;
  background-color: #fff;
}

/* button */

.btn {
  font-size: var(--font-size-md);
  font-weight: 600;
  padding: 0.8rem 2.4rem;
  color: var(--primary-white);
  border: none;
  border-radius: var(--border-radius-medium);
  transition: all 0.4s ease-out;
  background-color: var(--primary-orange);
  cursor: pointer;
}

.btnShopNow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.2rem;
}

.btnPrimary {
  padding: 1.2rem 2.4rem;
  width: 100%;
}

.btn:hover,
.btnPrimary:hover {
  background-color: var(--secondary-orange);
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  outline: 2px dashed var(--primary-dark);
  outline-offset: 2px;
}

.Container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1.6rem;
  align-items: center;
  padding: 2.4rem;
  /* margin: 12.8rem auto; */
}

.create-login-text {
  margin-top: 2.4rem;
}

.forgotPassword {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}

.forgotPasswordLink {
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

.forgotPasswordLink:link {
  color: var(--primary-orange);
}

.forgotPasswordLink:visited {
  color: var(--lavender);
}

.forgotPasswordLink:active,
.forgotPasswordLink:hover {
  color: var(--third-orange);
}

.forgotPasswordLink:focus {
  outline: none;
}

.forgotPasswordLink:focus-visible {
  outline: 2px dashed var(--primary-dark);
  outline-offset: 2px;
}

.loginAdditional {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 1.8rem;
}

.create-account {
  cursor: pointer;
  text-decoration: none;
}

.createAccountLink {
  cursor: pointer;
  text-decoration: none;
}

.createAccountLink:link {
  color: var(--primary-orange);
}
.createAccountLink:visited {
  color: var(--lavender);
}
.createAccountLink:active,
.createAccountLink:hover {
  color: var(--secondary-orange);
}

.create-account:focus {
  outline: none;
}
.create-account:focus-visible {
  outline: 2px dashed var(--primary-dark);
  outline-offset: 2px;
}

.text-terms,
.text-privacy {
  color: var(--primary-dark);
  cursor: pointer;
  font-weight: 400;
}

/* nav */

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1.6rem;
  box-shadow: var(--box-shadow-large-orange);
  background-color: var(--primary-orange);
}

.logoImg {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.endNav {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 2.4rem;
  font-weight: 700;
  gap: 3.2rem;
}

.category {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

.category svg {
  width: 2.4rem;
  height: 2.4rem;
}

/* footer */

footer {
  background-color: #fff;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  padding: 2.4rem;
  gap: 4.8rem;
}

.footerNewsLetter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.8rem;
}

.emailInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailInput input {
  padding: 0.8rem 2.4rem;
  border-style: solid;
  border-radius: 9px;
}

.emailInput input:focus {
  outline: none;
}

.emailInput input::placeholder {
  font-style: italic;
}

.emailInput p {
  height: 3.6rem;
  background-color: black;
  color: #fff;
  padding: 0.9rem 1.6rem;
  margin-left: -12px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  cursor: pointer;
}

.footerExtras li {
  cursor: pointer;
}

.footerLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}

.footerLinks ul {
  list-style-type: none;
}

.footerSocials ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: start;
  margin: 4.8rem 0 4.8rem 0;
  gap: 2rem;
}

.footerCopyright {
  display: flex;
  flex-direction: column;
}

.footerCopyright div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 3.6rem;
}

.footerCopyright div a {
  cursor: pointer;
  color: var(--primary-grey);
}

.footerHeader {
  margin-bottom: 2.4rem;
}

.footerHeader + ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.copyrightText {
  color: var(--primary-grey);
}

/* item */

.itemContainer {
  margin: 1.2rem;
  padding: 2.4rem;
  box-shadow: var(--box-shadow-medium);
  max-width: 35rem;
  background-color: #fff;
  border-radius: 11px;
  transition: all 0.4s ease;
}
.itemContainer:hover {
  transform: translateY(-6px);
  background-color: var(--faint-orange);
  box-shadow: var(--box-shadow-large);
}

.itemImageContainer {
  position: relative;
  height: 30rem;
  width: 30rem;
}
.itemImage {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.itemTitle {
  margin-top: 2.4rem;
  margin-bottom: 1.2rem;
  font-size: 2.2rem;
}

.itemCategory {
  font-style: italic;
  font-weight: 400;
  color: var(--primary-grey);
  margin-bottom: 1.2rem;
}

.itemDescription {
  margin-bottom: 2.4rem;
  font-style: italic;
  color: var(--primary-black);
  font-weight: 400;
  font-size: 1.6rem;
}

.itemRating {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 1.8rem;
  align-items: center;
}

.itemRatingText {
  font-style: italic;
}

.itemCurrency {
  font-size: 2.4rem;
  font-weight: 700;
}

.itemPrice {
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
  font-weight: 800;
}

.priceButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.8rem;
}

.loader {
  width: 6rem;
  height: 6rem;
  border: 10px solid var(--primary-orange);
  border-top: 10px solid var(--primary-grey);
  border-radius: 50%;
  animation: spinner 0.6s linear infinite;
}

/* sorting container*/
.sortContainer {
  display: flex;
  justify-content: center;
  padding: 1.6rem 0;
  gap: 2.8rem;
  background-color: #fff;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
