@media (max-width: 111em) {
  .Container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 120rem;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
  }
}

@media (max-width: 86em) {
  html {
    font-size: 52%;
  }
  .endNav {
    font-size: 1.8rem;
    gap: 2.6rem;
  }
}

@media (max-width: 73em) {
  .Container {
    justify-content: center;
  }

  .itemContainer {
    margin: 0.8rem;
    padding: 1.8rem;
    max-width: 30rem;
  }

  .itemImageContainer {
    height: 25rem;
    width: 25rem;
  }

  .itemTitle {
    font-size: 1.8rem;
  }

  .itemCurrency {
    font-size: 1.6rem;
  }

  .itemPrice {
    font-size: 1.4rem;
  }
}

@media (max-width: 63em) {
  .Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 72rem;
    justify-items: stretch;
  }

  .Outlet {
    padding: 4.8rem;
  }

  .itemContainer {
    margin: 1.2rem;
    padding: 2.4rem;
    max-width: 35rem;
  }

  .itemImageContainer {
    height: 30rem;
    width: 30rem;
  }

  .itemTitle {
    font-size: 2.4rem;
  }

  .itemCurrency {
    font-size: 2.2rem;
  }

  .itemPrice {
    font-size: 1.8rem;
  }
}
