.formContainer {
  max-width: 40rem;
  background-color: #fff;
  padding: 2.4rem 3.2rem;
  margin: 4.5rem auto;
  border-radius: 9px;
}

.deliveryHeader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 3.4rem;
  color: #de5509;
}

.containerGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
  gap: 1.6rem;
}

.containerGroup label {
  font-size: 2rem;
  font-weight: 700;
}

.containerGroup input {
  font-size: 1.4rem;
  padding: 1rem 0.4rem;
}

.btnCO {
  width: 100%;
  font-size: 2rem;
}
