.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 1.2rem 1.6rem;
  height: 100%;
}

.container img {
  width: 64px;
  height: 64px;
}

.container p {
  font-style: italic;
  font-size: 3.2rem;
  font-weight: 600;
}
