.container {
  background-color: #fff;
  max-width: 80rem;
  margin: 4.5rem auto;
  padding: 3.2rem;
  border-radius: 7px;
  box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.08);
}

.headGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.containerGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerGroup p {
  font-weight: 600;
  font-size: 2.2rem;
}

.containerGroup h3 {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-style: italic;
}

.paragraph {
  font-size: 2.4rem;
  font-weight: 400;
}

.price {
  font-size: 2.4rem;
}

.paragraphDiv {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.btnCompletePurchase {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2.4rem 0;
  margin-top: 4.8rem;
}
