.info {
  font-size: 2.4rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 3.2rem;
}

.delivery {
  font-weight: 600;
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75rem;
  gap: 1.6rem;
  margin: 25rem auto;
  padding: 2.4rem;
  line-height: 2;
}

.container img {
  width: 6.4rem;
  height: 6.4rem;
}

button {
  font-size: 1rem;
  font-style: italic;
  font-family: inherit;
}
